@media (min-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  body {
    background-image: linear-gradient(
      to right top,
      #ac1b47,
      #8f2650,
      #702e51,
      #53314a,
      #3a2f3b
    );
  }

  .logo {
    float: left;
    color: white;
    line-height: 44px;
    margin: 12px 12px 0px 0px;
    font-size: 190%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .icon2 {
    height: 45px;
    width: 45px;
    float: left;
    margin: 12px 12px 7px 7px;
    transition: 0.5s;
    opacity: 1;
  }
  .icon2:hover {
    transform: scale(1.06);
  }

  .heddrrr {
    height: 70px;
    width: 100%;
    background-color: rgba(177, 177, 177, 0.459);
    margin-bottom: 10px;
    box-shadow: 3px 4px 7px rgba(161, 161, 161, 0.397),
      -4px -3px 7px rgba(53, 53, 53, 0.568);
  }

  .box {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    height: 85%;
    width: 450px;
    border-radius: 0px 40px 0px 40px;
    overflow: scroll;
    box-sizing: border-box;
    padding: 3px;

    box-shadow: 3px 4px 7px rgba(51, 51, 51, 0.397),
      -4px -3px 7px rgba(53, 53, 53, 0.568);
  }

  form {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .body {
    width: 100%;
    height: 80%;

    box-sizing: border-box;
    overflow-y: scroll;
  }
  input {
    height: 40px;
    width: 75%;
    font-size: 22px;
    border: none;
    border-radius: 7px;
  }

  .input {
    box-sizing: border-box;
    padding-left: 10px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    margin: 7px;
    transition: 0.5s;

    background-color: rgb(49, 196, 123);
    color: rgba(255, 255, 255, 0.884);
    outline: none;
  }
  .button:hover {
    background-color: rgb(35, 151, 93);
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  .body button {
    width: 100%;
    color: black;
    margin-bottom: 3px;
    box-sizing: border-box;
    padding: 5px;
    transition: 0.4s;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(172, 172, 172);
    outline: none;
  }

  button:hover {
    background-color: rgb(255, 253, 253);
  }

  button:hover img {
    opacity: 1;
  }
  #index {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    float: left;
    color: rgb(255, 255, 255);
  }

  #second {
    float: left;

    background-color: rgba(0, 0, 0, 0);

    margin: 5px 15px 5px 15px;
    text-align: center;
  }

  img {
    height: 25px;
    width: 25px;
    float: right;
    opacity: 0;
  }
  img:hover {
    cursor: pointer;
  }
  .LOGG {
    float: right;
    width: auto;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.247);
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
  }
  .LOGG:hover {
    background-color: rgba(0, 0, 0, 0.384);
  }
  .LOGG a {
    text-decoration: none;
    color: white;
    font-size: 19px;
  }
  .todolist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0px 20px 0px 20px;
    overflow: hidden;
  }
}

@media (max-width: 575.98px) {
  * {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  body {
    background-image: linear-gradient(
      to right top,
      #ac1b47,
      #8f2650,
      #702e51,
      #53314a,
      #3a2f3b
    );
  }

  .logo {
    float: left;
    color: white;
    line-height: 44px;
    margin: 12px 12px 0px 0px;
    font-size: 190%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .icon2 {
    height: 45px;
    width: 45px;
    float: left;
    margin: 12px 12px 7px 7px;
    transition: 0.5s;
    opacity: 1;
  }
  .icon2:hover {
    transform: scale(1.06);
  }

  .heddrrr {
    height: 70px;
    width: 100%;
    background-color: rgba(177, 177, 177, 0.459);
    margin-bottom: 10px;
    box-shadow: 3px 4px 7px rgba(161, 161, 161, 0.397),
      -4px -3px 7px rgba(53, 53, 53, 0.568);
  }

  .box {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    height: 85%;
    width: 100%;
    border-radius: 0px 40px 0px 40px;
    overflow: scroll;
    box-sizing: border-box;
    padding: 3px;

    box-shadow: 3px 4px 7px rgba(51, 51, 51, 0.397),
      -4px -3px 7px rgba(53, 53, 53, 0.568);
  }

  form {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .body {
    width: 100%;
    height: 80%;

    box-sizing: border-box;
    overflow-y: scroll;
  }
  input {
    height: 40px;
    width: 75%;
    font-size: 22px;
    border: none;
    border-radius: 7px;
  }

  .input {
    box-sizing: border-box;
    padding-left: 10px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    margin: 7px;
    transition: 0.5s;

    background-color: rgb(49, 196, 123);
    color: rgba(255, 255, 255, 0.884);
    outline: none;
  }
  .button:hover {
    background-color: rgb(35, 151, 93);
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  .body button {
    width: 100%;
    color: black;
    margin-bottom: 3px;
    box-sizing: border-box;
    padding: 5px;
    transition: 0.4s;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(172, 172, 172);
    outline: none;
  }

  button:hover {
    background-color: rgb(255, 253, 253);
  }

  button:hover img {
    opacity: 1;
  }
  #index {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    float: left;
    color: rgb(255, 255, 255);
  }

  #second {
    float: left;

    background-color: rgba(0, 0, 0, 0);

    margin: 5px 15px 5px 15px;
    text-align: center;
  }

  img {
    height: 25px;
    width: 25px;
    float: right;
    opacity: 0;
  }
  img:hover {
    cursor: pointer;
  }
  .LOGG {
    float: right;
    width: auto;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.247);
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
  }
  .LOGG:hover {
    background-color: rgba(0, 0, 0, 0.384);
  }
  .LOGG a {
    text-decoration: none;
    color: white;
    font-size: 19px;
  }
  .todolist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0px 20px 0px 20px;
    overflow: hidden;
  }
}
